@font-face {
    font-family: 'Oswald';
    src: url(fonts/Oswald-VariableFont_wght.ttf);
}

@font-face {
    font-family: "Lora";
    src: url(fonts/Lora-VariableFont_wght.ttf) format('truetype');
    font-style: normal;
}

@font-face {
    font-family: "Lora Italic";
    src: url(fonts/Lora-Italic-VariableFont_wght.ttf) format('truetype');
    font-style: italic;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-title {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding-left: 10%;
    padding-top: 50px;
}

.main-title h1 {
    color: #000;
    font-family: "Oswald", sans-serif;
    font-size: 160px;
    font-style: normal;
    font-weight: 300;
    line-height: 200px;
}

.sidebar a {
    text-decoration: none;
    color: #000;
    font-family: "Oswald", sans-serif;
    font-size: 24px;
    font-weight: 400;
    display: block;
    margin: 20px 0;
    padding: 10px 0;
    transition: transform 0.3s, color 0.3s ease;
}

.sidebar a:hover {
    color: #D90429;
    transform: scale(1.1);
}

.sidebar {
    position: fixed;
    top: 0;
    right: -300px;
    width: 250px;
    height: 100%;
    background: #fff;
    color: #000;
    padding: 100px 0px;
    transition: right 0.3s;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-left: #000 4px solid;
}

.sidebar.active {
    right: 0;
}

.sidebar-toggle {
    position: fixed;
    top: 30px;
    right: 25px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 64px;
    font-weight: lighter;
    background: none;
    border: none;
    cursor: pointer;
    transition: transform 0.3s, color 0.3s ease, top 0.3s ease, font-size 0.3s ease;
    z-index: 2;
}

.sidebar-toggle:hover {
    color: #D90429;
    transform: scale(1.1);
}

.sidebar-toggle.rotated {
    transform: rotate(-45deg);
}

.sidebar-toggle.rotated:hover {
    color: #D90429;
    transform: rotate(-45deg) scale(1.1);
}

.home-page-links-container .socials img {
    width: 20px;
    height: 20px;
}

/* Header for Non-Home Pages */

.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 124px;
    flex-shrink: 0;
    outline: 4px solid #000;
    background-color: #fff;
    z-index: 1;
    transition: height 0.3s ease, padding 0.3s ease;
}

.header h1 {
    color: #000;
    font-family: "Oswald", sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: left;
    margin: 38px 48px;
}

.header h1 {
    transition: font-size 0.3s ease, margin 0.3s ease;
    font-size: 32px;
    margin: 38px 48px;
}

.header.shrink h1 {
    font-size: 20px;
    margin: 20px 48px;
}

.header.shrink {
    height: 62px;
}

.header.shrink .sidebar-toggle {
    top: 10px;
    font-size: 40px;
}

/* About Me */

.about {
    padding-top: 124px;
}

.container {
    max-width: 1600px;
}

.about .row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 50px;
}

.about-col-1 {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-basis: 35%;
}

.about-col-1 img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 15%;
}

.about-col-2 {
    flex-basis: 65%;
    margin-top: 10px;
    padding-right: 50px
}

.about-col-2 p {
    display: block;
    color: #000;
    font-family: "Lora", sans-serif;
    font-size: 24px;
    font-weight: 100;
    line-height: normal;
    text-align: left;
}

.about-col-2 p span {
    font-weight: bold;
    font-family: "Lora", serif;
    text-align: left;
}

.about-col-2 p a {
    text-decoration: none;
    color: inherit;
    font-weight: inherit;
    font-family: inherit;
    display: inline-block;
    transition: color 0.1s ease;
}

.about-col-2 p a:hover {
    color: #D90429;
}

.skill-tree .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
}

.tab-titles {
    flex-basis: 30%;
    min-width: 180px;
    padding-left: 7%;
}

.tab-titles p {
    color: #8D99AE;
    font-family: "Oswald", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 4.8px;
    transition: transform 0.1s, color 0.1s;
    text-align: left;
}

.tab-titles p:hover {
    color: #2B2D42;
    cursor: pointer;
    transform: scale(1.1);
}

.tab-titles p.active-link {
    color: #D90429;
    font-weight: bold;
    transform: scale(1.1);
}

.right {
    flex-basis: 65%;
    min-width: 300px;
}

table {
    text-align: left;
}

.tab-contents {
    display: none;
    min-height: 400px;
}

.tab-contents.active-tab {
    display: block;
    flex-basis: 60%;
    text-align: left;
}

.right th {
    padding: 20 50px 0 0px;
    font-family: "Oswald", sans-serif;
    font-size: 24px;
    font-weight: 600px;
    color: #000;
}

.right td {
    padding: 0 50px 0 0px;
    font-family: "Oswald", sans-serif;
    font-size: 24px;
    font-weight: 100;
    color: #000;
    text-align: left;
}

.right th span {
    font-weight: 100;
}

.links-container {
    padding-left: 10px
}

.socials img {
    width: 20px;
    height: 20px;
}

/* Projects Page */

.project-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    margin-top: 125px;
}

.project {
    background-color: beige;
    height: 480px;
    text-align: center;
    border: 2px solid #000;
}

.image-wrapper {
    position: relative;
    overflow: hidden;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.image-wrapper:hover img {
    transform: scale(1.05);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    opacity: 0;
    transition: opacity 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay-text h1 {
    color: #fff;
    font-family: "Oswald", sans-serif;
    font-size: 48px;
    text-align: center;
    font-weight: 400;
    padding: 0 20px;
}

.overlay-text h2 {
    color: #fff;
    font-family: "Oswald", sans-serif;
    font-size: 16px;
    text-align: center;
    padding: 20px;
    font-weight: 200;
}

.overlay-text p {
    color: #fff;
    font-family: "Oswald", sans-serif;
    font-size: 24px;
    text-align: center;
    font-weight: 100;
    padding: 0 50px;

}

.image-wrapper:hover .overlay {
    opacity: 1;
}

/* Albums */
.albums-container {
    padding-top: 150px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    gap: 30px;
    padding: 50px;
    margin-top: 124px;
}

.album {
    height: 400px;
    position: relative;
    overflow: hidden;
}

.album .image-wrapper {
    position: relative;
    height: 100%;
}

.album img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.album:hover img {
    transform: scale(1.1);
}

.album .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    opacity: 0;
    transition: opacity 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.album:hover .overlay {
    opacity: 1;
}

.album .overlay-text {
    color: white;
    font-family: "Oswald", sans-serif;
    font-size: 24px;
    text-align: center;
}